@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9832 0.0055 3.3355);
  --foreground: oklch(0.241 0.0786 22.3674);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.241 0.0786 22.3674);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.241 0.0786 22.3674);
  --primary: oklch(0.38 0.1523 18.6219);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9391 0.0146 1.5616);
  --secondary-foreground: oklch(0.38 0.1523 18.6219);
  --muted: oklch(0.9391 0.0146 1.5616);
  --muted-foreground: oklch(0.5087 0.0422 12.4061);
  --accent: oklch(0.449 0.1606 17.6053);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.5143 0.1978 16.935);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.8779 0.0226 7.2393);
  --input: oklch(0.8779 0.0226 7.2393);
  --ring: oklch(0.38 0.1523 18.6219);
  --chart-1: oklch(0.38 0.1523 18.6219);
  --chart-2: oklch(0.449 0.1606 17.6053);
  --chart-3: oklch(0.5143 0.1978 16.935);
  --chart-4: oklch(0.6047 0.1733 13.2349);
  --chart-5: oklch(0.7328 0.1237 7.7472);
  --sidebar: oklch(0.241 0.0786 22.3674);
  --sidebar-foreground: oklch(0.9832 0.0055 3.3355);
  --sidebar-primary: oklch(0.38 0.1523 18.6219);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3083 0.1034 22.2807);
  --sidebar-accent-foreground: oklch(0.9832 0.0055 3.3355);
  --sidebar-border: oklch(0.3083 0.1034 22.2807);
  --sidebar-ring: oklch(0.38 0.1523 18.6219);
  --font-sans: "Inter", "Lora", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 3px;
  --shadow-blur: 4px;
  --shadow-spread: 0.5px;
  --shadow-opacity: 0.2;
  --shadow-color: #3d0a0d;
  --shadow-2xs: 0px 3px 4px 0.5px hsl(356.4706 71.831% 13.9216% / 0.1);
  --shadow-xs: 0px 3px 4px 0.5px hsl(356.4706 71.831% 13.9216% / 0.1);
  --shadow-sm:
    0px 3px 4px 0.5px hsl(356.4706 71.831% 13.9216% / 0.2),
    0px 1px 2px -0.5px hsl(356.4706 71.831% 13.9216% / 0.2);
  --shadow:
    0px 3px 4px 0.5px hsl(356.4706 71.831% 13.9216% / 0.2),
    0px 1px 2px -0.5px hsl(356.4706 71.831% 13.9216% / 0.2);
  --shadow-md:
    0px 3px 4px 0.5px hsl(356.4706 71.831% 13.9216% / 0.2),
    0px 2px 4px -0.5px hsl(356.4706 71.831% 13.9216% / 0.2);
  --shadow-lg:
    0px 3px 4px 0.5px hsl(356.4706 71.831% 13.9216% / 0.2),
    0px 4px 6px -0.5px hsl(356.4706 71.831% 13.9216% / 0.2);
  --shadow-xl:
    0px 3px 4px 0.5px hsl(356.4706 71.831% 13.9216% / 0.2),
    0px 8px 10px -0.5px hsl(356.4706 71.831% 13.9216% / 0.2);
  --shadow-2xl: 0px 3px 4px 0.5px hsl(356.4706 71.831% 13.9216% / 0.5);
  --tracking-normal: -0.015em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1188 0.0318 15.2849);
  --foreground: oklch(0.9607 0.0154 7.4853);
  --card: oklch(0.1558 0.0393 15.4394);
  --card-foreground: oklch(0.9607 0.0154 7.4853);
  --popover: oklch(0.1558 0.0393 15.4394);
  --popover-foreground: oklch(0.9607 0.0154 7.4853);
  --primary: oklch(0.6122 0.2082 22.241);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.241 0.0786 22.3674);
  --secondary-foreground: oklch(0.9247 0.0392 10.07);
  --muted: oklch(0.2013 0.0533 17.7133);
  --muted-foreground: oklch(0.7578 0.0609 12.057);
  --accent: oklch(0.5424 0.2088 24.3525);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6785 0.2131 14.7192);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.2094 0.0499 16.3565);
  --input: oklch(0.2846 0.0803 17.2477);
  --ring: oklch(0.6477 0.2384 22.5888);
  --chart-1: oklch(0.6122 0.2082 22.241);
  --chart-2: oklch(0.7752 0.1362 9.3358);
  --chart-3: oklch(0.38 0.1523 18.6219);
  --chart-4: oklch(0.8422 0.09 7.0366);
  --chart-5: oklch(0.3083 0.1034 22.2807);
  --sidebar: oklch(0.1005 0.0291 11.698);
  --sidebar-foreground: oklch(0.9607 0.0154 7.4853);
  --sidebar-primary: oklch(0.6122 0.2082 22.241);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.1558 0.0393 15.4394);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.1558 0.0393 15.4394);
  --sidebar-ring: oklch(0.6122 0.2082 22.241);
  --font-sans: "Inter", "Lora", sans-serif;
  --font-serif: "Lora", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.75rem;
  --shadow-x: 0px;
  --shadow-y: 3px;
  --shadow-blur: 4px;
  --shadow-spread: 0.5px;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0px 3px 4px 0.5px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 3px 4px 0.5px hsl(0 0% 0% / 0.1);
  --shadow-sm:
    0px 3px 4px 0.5px hsl(0 0% 0% / 0.2), 0px 1px 2px -0.5px hsl(0 0% 0% / 0.2);
  --shadow:
    0px 3px 4px 0.5px hsl(0 0% 0% / 0.2), 0px 1px 2px -0.5px hsl(0 0% 0% / 0.2);
  --shadow-md:
    0px 3px 4px 0.5px hsl(0 0% 0% / 0.2), 0px 2px 4px -0.5px hsl(0 0% 0% / 0.2);
  --shadow-lg:
    0px 3px 4px 0.5px hsl(0 0% 0% / 0.2), 0px 4px 6px -0.5px hsl(0 0% 0% / 0.2);
  --shadow-xl:
    0px 3px 4px 0.5px hsl(0 0% 0% / 0.2), 0px 8px 10px -0.5px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 3px 4px 0.5px hsl(0 0% 0% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground tracking-normal;
  }
  html {
    @apply font-sans;
  }
}
